/* Q5U1.css */

/* الحاوية الرئيسية التي تجمع الحوار والصور في صف واحد */
.main-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  width: 60%;
  max-width: 1000px;
margin-left: 10%;
}

/* منطقة الحوار على اليسار */
.exercise-area {
  flex: 1;
}

/* الحوارات */
.dialogue {
  margin-bottom: 20px;
  font-size: 16px;
}

.dialogue input {
  width: 150px;
  padding: 3px 5px;
  
  margin: 0 5px;
  border-bottom: 1px solid black;
 
}

.correct {
  border-color: green;
  background-color: #e0ffe0;
}

.incorrect {
  border-color: red;
  background-color: #ffe0e0;
}

/* منطقة الصور على اليمين */
.images-area3 {
  width: 300px; /* ثابت أو حسب رغبتك */
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* صف الصور العلوية */
.top-images-row3 {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/* كل صورة + input */
.image-box3{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.image-box3 img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  object-fit: cover;
}

.image-input {
  width: 50px;
  text-align: center;
  padding: 4px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* الصف السفلي للصور */
.bottom-image-row {
  display: flex;
  justify-content: center;
   width: 50%;
}


/* responsive */
@media (max-width: 900px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .images-area {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .top-images-row,
  .bottom-image-row {
    flex-direction: row;
  }

  .image-box img {
    width: 120px;
  }
}
