/* .exercise-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: sans-serif;
}

.exercise-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.exercise-container {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
}





.number-input {
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  border: 2px solid #430f68;
  border-radius: 5px;
}

.numbers-list {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.numbers-list ul {
  list-style: none;
  padding: 0;
}

.numbers-list li {
  background-color: #f2f2f2;
  padding: 8px 12px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  transition: color 0.3s;
} */
